.group-66,
.group-66-1,
.group-66-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 98px;
  min-height: 353px;
  position: absolute;
  top: 22px;
  width: 410px;
}

.overlap-group-2,
.overlap-group-3,
.overlap-group1-4 {
  height: 127px;
  position: relative;
  width: 392px;
}

.address,
.address-2,
.address-4 {
  left: 11px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 53px;
  width: 381px;
}

.whitelist,
.whitelist-1,
.whitelist-2 {
  left: 0;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 381px;
}

.ellipse-3,
.ellipse-3-2,
.ellipse-3-4 {
  border-radius: 21.96px/23.52px;
  height: 47px;
  left: 322px;
  position: absolute;
  top: 61px;
  width: 44px;
}

.n,
.n-2,
.n-4 {
  left: 333px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 49px;
  white-space: nowrap;
  width: 21px;
}

.overlap-group1-2,
.overlap-group1-3,
.overlap-group-4 {
  height: 127px;
  margin-left: 1px;
  margin-top: 99px;
  position: relative;
  width: 397px;
}

.address-1,
.address-3,
.address-5 {
  left: 0;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 54px;
  white-space: nowrap;
  width: 380px;
}

.ellipse-3-1,
.ellipse-3-3,
.ellipse-3-5 {
  border-radius: 21.97px/22.97px;
  height: 46px;
  left: 316px;
  position: absolute;
  top: 64px;
  width: 44px;
}

.n-1,
.n-3,
.n-5 {
  left: 327px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 54px;
  white-space: nowrap;
  width: 21px;
}

.public-sale,
.public-sale-1,
.public-sale-2 {
  left: 16px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 381px;
}

