.roadmap-320 {
  background: linear-gradient(180deg, rgb(8.35, 1.09, 20.19) 0%, rgb(56.28, 2.63, 57.37) 100%);
  background-color: rgba(255,255,255,1.0);
  display: flex;
  height: 100vh;
  min-height: 2044px;
  min-width: 320px;
  mix-blend-mode: hard-light;
  width: 100%;
}

.body-6 {
  align-items: flex-end;
  display: flex;
  height: 2044px;
  min-width: 320px;
}

.overlap-group10 {
  height: 2069px;
  margin-bottom: -25px;
  margin-left: -193px;
  position: relative;
  width: 677px;
}

.head-3 {
  height: 1357px;
  left: 182px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 320px;
}

.overlap-group-9 {
  height: 143px;
  left: 0;
  position: absolute;
  top: 97px;
  width: 677px;
}

.what-is-the-save-planet-2 {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xs);
  font-weight: 400;
  left: 0;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 677px;
}

.rebirthing-the-new-g-3 {
  left: 267px;
  letter-spacing: 0.20px;
  line-height: 17.2px;
  position: absolute;
  top: 58px;
  width: 203px;
}

.group-61-3 {
  background-color: var(--razzle-dazzle-rose);
  height: 69px;
  left: 258px;
  position: absolute;
  top: 58px;
  width: 5px;
}

.overlap-group1-7 {
  height: 196px;
  left: 191px;
  position: absolute;
  top: 208px;
  width: 144px;
}

.ellipse-1-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(5.31, 5.31, 5.31, 0.81) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 49.72px/3.55px;
  height: 7px;
  left: 25px;
  mix-blend-mode: darken;
  position: absolute;
  top: 165px;
  width: 99px;
}

.catusv2-t-1-3 {
  height: 196px;
  left: 0;
  position: absolute;
  top: 0;
  width: 144px;
}

.rectangle-51-6 {
  height: 1066px;
  left: 193px;
  position: absolute;
  top: 1003px;
  width: 320px;
}

.rectangle-52-3 {
  height: 306px;
  left: 193px;
  position: absolute;
  top: 1211px;
  width: 320px;
}

.overlap-group2-1 {
  height: 169px;
  left: 265px;
  position: absolute;
  top: 1005px;
  width: 196px;
}

.et-gfh8-1-3 {
  height: 114px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 95px;
}

.et-gfh8-3-3 {
  height: 162px;
  left: 42px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 154px;
}

.vector-15 {
  height: 34px;
  left: 30px;
  position: absolute;
  top: 135px;
  width: 118px;
}

.image-1-3 {
  height: 247px;
  left: 192px;
  object-fit: cover;
  position: absolute;
  top: 1483px;
  width: 320px;
}

.group-container-3 {
  height: 220px;
  left: 195px;
  position: absolute;
  top: 1199px;
  width: 314px;
}

.group-78 {
  display: flex;
  height: 220px;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  top: 0;
  width: 314px;
}

.group-66-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: -12px;
  min-height: 220.35px;
  width: 325.76px;
}

.overlap-group-10 {
  height: 104px;
  position: relative;
  width: 314px;
}

.address-6 {
  left: 0;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 43px;
  white-space: nowrap;
  width: 309px;
}

.whitelist-3 {
  left: 4px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 309px;
}

.ellipse-3-6 {
  border-radius: 17.76px/19px;
  height: 38px;
  left: 240px;
  position: absolute;
  top: 59px;
  transform: rotate(-1.05deg);
  width: 36px;
}

.n-6 {
  left: 250px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 43px;
  white-space: nowrap;
  width: 16px;
}

.overlap-group1-8 {
  height: 97px;
  margin-left: 3.83px;
  margin-top: 19px;
  position: relative;
  width: 309px;
}

.address-7 {
  left: 0;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
  width: 309px;
}

.ellipse-3-7 {
  border-radius: 18.13px/18.95px;
  height: 38px;
  left: 241px;
  position: absolute;
  top: 55px;
  width: 36px;
}

.n-7 {
  left: 250px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
  width: 17px;
}

.public-sale-3 {
  left: 75px;
  letter-spacing: 0.88px;
  line-height: 62.3px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.group-79-3 {
  display: flex;
  height: 86px;
  justify-content: flex-end;
  left: 5px;
  position: absolute;
  top: 1px;
  width: 75px;
}

.group-75-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 86px;
  width: 75.26px;
}

.x1-2-8 {
  height: 77.45px;
  margin-right: -0.1px;
  margin-top: 0;
  object-fit: cover;
  width: 75.14px;
}

.group-65-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(5.31, 5.31, 5.31, 0.81) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 34.35px/2.02px;
  height: 4.05px;
  margin-right: 0;
  margin-top: 4.5px;
  width: 68.7px;
}

.group-63-3 {
  height: 81px;
  left: 203px;
  position: absolute;
  top: 1326px;
  width: 69px;
}

.ellipse-2-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(5.31, 5.31, 5.31, 0.81) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 31.21px/1.84px;
  height: 4px;
  left: 3px;
  mix-blend-mode: darken;
  position: absolute;
  top: 77px;
  width: 62px;
}

.saveplanet-1-3 {
  height: 77px;
  left: -3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 75px;
}

.group-80 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 227px;
  min-height: 129px;
  position: absolute;
  top: 831px;
  width: 284px;
}

.overlap-group4-3 {
  height: 78px;
  margin-left: 4.0px;
  position: relative;
  width: 288px;
}

.rectangle-56-3 {
  background-color: var(--white-2);
  border-radius: 82.65px;
  box-shadow: inset 4.39px 2.93px 4.39px #00000073;
  height: 44px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 257px;
}

.group-76-3 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 7px;
  min-height: 78px;
  position: absolute;
  top: 0;
  width: 281px;
}

.surname-6 {
  letter-spacing: 0.15px;
  line-height: 19.2px;
  margin-right: 4.0px;
  min-height: 9px;
  white-space: nowrap;
  width: 116px;
}

.vector-container {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  margin-left: -0.03px;
  margin-top: 26px;
  min-width: 240px;
}

.vector-16 {
  height: 14px;
  width: 7px;
}

.vector-17 {
  align-self: flex-end;
  height: 14px;
  margin-left: 225px;
  width: 7px;
}

.body-7 {
  letter-spacing: 0.15px;
  line-height: 19.2px;
  margin-right: 37.97px;
  margin-top: 12px;
  min-height: 17px;
  white-space: nowrap;
  width: 37px;
}

.overlap-group3-2 {
  align-items: flex-start;
  background-color: var(--white-2);
  border-radius: 82.65px;
  box-shadow: inset 4.39px 2.93px 2.93px #00000073;
  display: flex;
  height: 44px;
  margin-left: 20.5px;
  margin-top: 7px;
  min-width: 210px;
  padding: 14.9px 9.9px;
}

.group-77-3 {
  height: 14px;
  width: 189px;
}

.catear1-01-1-2 {
  height: 72px;
  left: 232px;
  object-fit: cover;
  position: absolute;
  top: 859px;
  width: 95px;
}

.catear1-01-2-2 {
  height: 71px;
  left: 310px;
  object-fit: cover;
  position: absolute;
  top: 831px;
  width: 95px;
}

.catear1-01-5-2 {
  height: 65px;
  left: 298px;
  object-fit: cover;
  position: absolute;
  top: 887px;
  width: 88px;
}

.catear1-01-4-2 {
  height: 65px;
  left: 379px;
  object-fit: cover;
  position: absolute;
  top: 887px;
  width: 88px;
}

.catear1-01-3-2 {
  height: 71px;
  left: 374px;
  object-fit: cover;
  position: absolute;
  top: 856px;
  width: 96px;
}

.group-59-3 {
  height: 328px;
  left: 227px;
  position: absolute;
  top: 363px;
  width: 265px;
}

.flex-row-4 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 50px;
  min-width: 55px;
  position: absolute;
  top: 248px;
}

.rectangle-50-9 {
  background-color: var(--razzle-dazzle-rose);
  height: 40px;
  width: 5px;
}

.x1-2-9 {
  height: 45px;
  margin-left: 7px;
  object-fit: cover;
  width: 43px;
}

.common-rare-container-3 {
  height: 88px;
  left: 120px;
  position: absolute;
  top: 240px;
  width: 139px;
}

.common-rare-legend-3 {
  left: 0;
  letter-spacing: 0.20px;
  line-height: 14.2px;
  position: absolute;
  text-shadow: 0px 4px 4px #5fffe2;
  top: 0;
  width: 139px;
}

.common-rare-3 {
  left: 0;
  letter-spacing: 0.20px;
  line-height: 14.2px;
  position: absolute;
  top: 0;
  width: 139px;
}

.overlap-group5-3 {
  height: 248px;
  left: 0;
  position: absolute;
  top: 0;
  width: 252px;
}

.type-3 {
  left: 0;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 186px;
  white-space: nowrap;
  width: 114px;
}

.group-82-2 {
  align-items: center;
  display: flex;
  height: 215px;
  left: 8px;
  min-width: 244px;
  position: absolute;
  top: 0;
}

.vector-18 {
  height: 24px;
  margin-top: 85.0px;
  width: 8px;
}

.x1-1-3 {
  height: 215px;
  margin-left: 6px;
  object-fit: cover;
  width: 216px;
}

.vector-19 {
  height: 24px;
  margin-left: 6px;
  margin-top: 85.0px;
  width: 8px;
}

.group-81-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 207px;
  min-height: 123px;
  position: absolute;
  top: 263px;
  width: 469px;
}

.nft-specifications-3 {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.20px;
  line-height: 85px;
  margin-bottom: -49px;
  margin-right: 31.81px;
  min-height: 36px;
  text-align: center;
  white-space: nowrap;
  width: 208px;
}

.overlap-group7-2 {
  height: 71px;
  margin-right: 6.0px;
  margin-top: 16px;
  position: relative;
  width: 463px;
}

.x1-2-10 {
  height: 30px;
  left: 163px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 31px;
}

.number-3 {
  color: var(--white);
  font-family: var(--font-family-michroma);
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 463px;
}

.planets-3 {
  left: 226px;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  top: 22px;
  white-space: nowrap;
  width: 64px;
}

.rectangle-50-10 {
  background-color: var(--razzle-dazzle-rose);
  height: 29px;
  left: 153px;
  position: absolute;
  top: 1px;
  width: 5px;
}

.icon-twitter {
  height: 16px;
  left: 456px;
  position: absolute;
  top: 2017px;
  width: 17px;
}

.icon-facebook {
  height: 16px;
  left: 483px;
  position: absolute;
  top: 2017px;
  width: 17px;
}

.desktop-navbar-3 {
  align-items: flex-start;
  background-color: var(--white-3);
  display: flex;
  flex-direction: column;
  left: 86px;
  min-height: 97px;
  position: absolute;
  top: 0;
  width: 493px;
}

.desktop-menu-3 {
  display: flex;
  margin-left: -37px;
  margin-top: -7px;
  position: relative;
  width: 444px;
}

.text-link-11 {
  height: 48px;
  width: 71px;
}

.big-button-3 {
  align-self: center;
  border-radius: 13px;
  box-shadow: inset 0px 4px 4px #00000040;
  display: flex;
  height: 38px;
  margin-left: 38.0px;
  margin-top: 7px;
  width: 167px;
}

.master-button-3 {
  background: linear-gradient(180deg, rgba(255, 102, 221.34, 0.9) 0%, rgba(188.36, 46.75, 255, 0.95) 100%);
  border-radius: 30px;
  box-shadow: 0px 10px 30px #b6322633;
  display: flex;
  flex: 1;
  margin-left: 0.6%;
  margin-right: 0.6%;
  overflow: hidden;
  width: 165px;
}

.text-button-3 {
  align-items: flex-start;
  display: flex;
  height: 18px;
  justify-content: flex-end;
  margin-left: 20px;
  margin-top: 16px;
  min-width: 125px;
  padding: 0 8px;
}

.surname-7 {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 36px;
  margin-top: -17px;
  min-height: 25px;
  white-space: nowrap;
}

.overlap-group8-3 {
  height: 181px;
  left: 162px;
  position: absolute;
  top: 655px;
  width: 413px;
}

.group-60-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 181px;
  position: absolute;
  top: 0;
  width: 242px;
}

.attributes-3 {
  letter-spacing: 1.20px;
  line-height: 75px;
  margin-bottom: -30px;
  margin-right: 4px;
  min-height: 45px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000073;
  white-space: nowrap;
  width: 238px;
}

.flex-row-5 {
  align-items: flex-start;
  display: flex;
  height: 115px;
  margin-right: 21.64px;
  margin-top: 21px;
  min-width: 127px;
}

.rectangle-50-11 {
  background-color: var(--razzle-dazzle-rose);
  height: 62px;
  margin-top: 1px;
  width: 4px;
}

.head-face-body-3 {
  letter-spacing: 0.20px;
  line-height: 15.2px;
  margin-left: 5px;
  min-height: 115px;
  width: 118px;
}

.background-hand-back-3 {
  left: 202px;
  letter-spacing: 0.20px;
  line-height: 15.2px;
  position: absolute;
  top: 66px;
  width: 211px;
}

.rectangle-50-12 {
  background-color: var(--razzle-dazzle-rose);
  height: 63px;
  left: 194px;
  position: absolute;
  top: 66px;
  width: 4px;
}

.subtitle-1 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 203px;
  padding: 5px 10px;
  position: absolute;
  top: 2015px;
  width: 157px;
}

.copyright-2022-rnx-3 {
  color: var(--concrete);
  font-family: var(--font-family-roboto);
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 18px;
  min-height: 18px;
  min-width: 94px;
  text-align: right;
  white-space: nowrap;
}

.pie-chart-01-1-3 {
  height: 252px;
  left: 193px;
  object-fit: cover;
  position: absolute;
  top: 1731px;
  width: 320px;
}

