.right-1 {
  align-items: center;
  align-self: center;
  display: flex;
  height: 43px;
  justify-content: center;
  margin-top: 2.0px;
  overflow: hidden;
  width: 498px;
}

.desktop-menu-1 {
  display: flex;
  margin-left: -16px;
  position: relative;
  width: 482px;
}

.text-link-3 {
  height: 48px;
  width: 71px;
}

.right-1.right-2 {
  align-self: unset;
  margin-top: 3px;
}

